[Unit]
Description=Dynamic client ambassador to SabNZBd

Wants=loadbal.service

[Service]
Restart=on-failure
EnvironmentFile=/etc/network-environment
ExecStartPre=-/usr/bin/docker kill %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStart=/usr/bin/docker run --name %n -v /etc/localtime:/etc/localtime:ro progrium/ambassadord etcd://${DOCKER0_IPV4}:4001/services/sabnzbd
ExecStop=/usr/bin/docker stop -t 3 %n
