[Unit]
Description=Fedora sandbox
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill %n
ExecStartPre=/usr/bin/docker pull tutum/fedora
#ExecStart=/usr/bin/docker run --name %n -p 2222:22 -v /space:/space -h sandbox -v /etc/localtime:/etc/localtime:ro tutum/fedora
ExecStart=/usr/bin/docker start -a %n
ExecStop=/usr/bin/docker stop %n
